<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="ff9562e5-16ca-4c61-b8fe-3b32e5d98136" Publisher="CN=Naveed Shahid" Version="1.0.0.0" />
  <Properties>
    <DisplayName>Top Sports Events</DisplayName>
    <PublisherDisplayName>Rameez</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="nivax.App">
      <VisualElements DisplayName="Top Sports Events" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="Top Sports Events" ForegroundText="light" BackgroundColor="#BBB6BA">
        <DefaultTile ShowName="allLogos" ShortName="Top Sports Events" WideLogo="Assets\WideLogo.png" />
        <SplashScreen Image="Assets\SplashScreen.png" BackgroundColor="#BBB6BA" />
      </VisualElements>
      <Extensions>
        <Extension Category="windows.search" />
      </Extensions>
    </Application>
  </Applications>
</Package>